html,
body {
	min-width: 550px;
	font-family: arial, verdana, helvetica, sans-serif;

	--red-100: #fee2e2;
	--red-700: #b91c1c;

	--yellow-1: #fab85b;

	--blue-1: #0000ff;
	--blue-2: #0000ee;
	--blue-3: #0000af;
	--blue-4: #000099;
	--blue-5: #000088;
	--blue-6: #00003a;

	--gray-100: #f3f4f6;
	--gray-700: #374151;

	background-color: var(--blue-6);
}

.body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
}

.link {
	color: var(--yellow-1);
	font-size: small;
}

.hidden {
	display: none;
}

.popup-content:not(.hidden) {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.button {
	display: inline-block;
	padding: 0.5em 1em;

	border-width: 2px;
	border-style: outset;

	border-top-color: var(--blue-1);
	border-left-color: var(--blue-2);
	background: var(--blue-3);
	border-right-color: var(--blue-4);
	border-bottom-color: var(--blue-5);

	color: white;
	transition: color 0.2s, background 0.2s;
}

.button:hover {
	background: var(--blue-4);
	color: white;
	cursor: pointer;
}

.button:hover[disabled] {
	cursor: not-allowed;
}

.game-json {
	display: block;
	overflow: auto;
	padding: 2em;
	margin: 0 1em;
	color: var(--gray-700);
	background: var(--gray-100);
	border-radius: 1em;
	tab-size: 1em;
	font-size: small;
}

.error-content {
	padding: 2em;
	margin: 0 1em;
	border-radius: 1em;
	background: var(--red-100);
	color: var(--red-700);
	font-family: monospace;
}

/* Firefox only */
.only-firefox {
	display: none;
}

@-moz-document url-prefix('') {
	.only-firefox {
		display: block;
	}
}
