html,
body {
	min-width: 550px;
	overflow-x: scroll;
}

.hidden {
	display: none;
}

.game-json {
	white-space: pre;
}

/* Firefox only */
.only-firefox {
	display: none;
}

@-moz-document url-prefix('') {
	.only-firefox {
		display: block;
	}
}
